.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;

  &__container {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      padding-left: 76px;
      padding-right: 89px;
    }

    @media screen and (min-width: 1200px) {
      @include flex(baseline, null);
    }
  }

  &__contact {
    color: rgba(255, 255, 255, 0.6);

    font-style: normal;
    letter-spacing: 0.03em;
    font-size: 14px;
    line-height: 1.71;
    text-decoration: none;

    transition: var(--transition-hover-focus);

    &:focus,
    &:hover {
      color: var(--accent-color);
    }
  }
}

.footer__wrapper {
  margin-bottom: 60px;

  @media screen and (min-width: 768px) {
    @include flex(baseline, null);
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 0px;
  }
}

.address {
  text-align: center;

  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
  }

  @media screen and (min-width: 1200px) {
    text-align: left;
  }

  &__link {
    color: var(--primary-white-color);

    font-style: normal;
    letter-spacing: 0.03em;
    font-size: 14px;
    line-height: 1.71;
    text-decoration: none;

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 8px;
    }

    @media screen and (max-width: 767px) {
      &:last-child {
        margin-bottom: 60px;
      }
    }
  }
}

.section__address {
  text-align: center;

  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
  }

  @media screen and (min-width: 1200px) {
    text-align: left;
  }
}

.section__follow {
  @media screen and (min-width: 768px) {
    margin-left: auto;
  }

  @media screen and (min-width: 1200px) {
    margin-left: 70px;
  }
}

.follow__title {
  color: var(--primary-white-color);
  @include font(700, 14px, 1.14, 0.03em);
  text-transform: uppercase;
  text-align: center;

  margin-bottom: 20px;

  @media screen and (min-width: 1200px) {
    text-align: left;
  }
}

.follow__list {
  display: flex;
  justify-content: center;
  list-style: none;
}

.follow__item:not(:last-child) {
  margin-right: 10px;
}

.follow__link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 44px;
  height: 44px;

  color: var(--primary-white-color);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: var(--transition);
}

.follow__icon {
  fill: currentColor;
}

.follow__link:hover,
.follow__link:focus {
  background-color: var(--accent-color);
}

.form__subscribe {
}

.label__subscribe {
  display: flex;
  flex-direction: column;
  padding-top: 15px;
}

.title__subscribe {
  color: var(--primary-white-color);
  font-family: inherit;
  @include font(700, 14px, 1.14, 0.03em);
  text-transform: uppercase;
  text-align: center;

  margin-bottom: 20px;

  @media screen and (min-width: 1200px) {
    text-align: left;
  }
}

.input__mail {
  width: 100%;
  display: block;

  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: transparent;

  padding: 15px 16px;
  margin-bottom: 20px;

  @media screen and (min-width: 768px) {
    width: 450px;
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (min-width: 1200px) {
    width: 358px;
    margin: 0;
  }

  &::placeholder {
    color: rgba(255, 255, 255, 0.6);
    @include font(400, 16px, null, 0.03em);
  }
}

.icon__subscribe {
  margin-left: 10px;
}

.button__subscribe {
  width: 200px;
  @include flex(center, null);

  padding: 10px 28px 10px 29px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 1200px) {
    margin-left: 12px;
  }

  &:hover {
    background-color: #188ce8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}

.container__subscribe {
  @media screen and (min-width: 1200px) {
    margin-left: auto;
  }

  @media screen and (min-width: 1200px) {
    &__form {
      @include flex(center, null);
    }
  }

  &__icon {
    margin-left: 10px;
  }
}