.header {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  border-bottom: 1px solid #eeeeee;

  @media screen and (max-width: 480px) {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  &__container {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    
    @media screen and (max-width: 1200px) {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}

.nav {
  @include flex(center, null);

  &__list {
    @include flex(center, null);

    @media screen and (max-width: 768px) {
      display: none;
    }
  }
}

.nav__item {
  position: relative;
  margin-left: 50px;

  &:first-child {
    margin-left: 88px;
    @media screen and (min-width: 1200px) {
      margin-left: 93px;
    }
  }
}

.nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primary-text-color);

  cursor: pointer;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;

  transition: var(--transition-hover-focus);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.curred {
  color: var(--accent-color);
}

.curred::after {
  position: absolute;
  display: block;
  content: '';
  height: 4px;
  width: 100%;
  background-color: var(--accent-color);
  border-radius: 2px;
  transform: translateY(29px);
}

.header__icon {
  text-align: center;
  align-items: center;
  fill: currentColor;

  margin-right: 10px;
}

.contacts {

  @media screen and (max-width: 767px) {
      display: none;
  }

  @media screen and (min-width: 768px) {
      display: flex;
      flex-direction: column;
  }

  @media screen and (min-width: 1200px) {
      flex-direction: row;
      margin-left: auto;
  }


  &__item+&__item {
      @media screen and (min-width: 1200px) {
          margin-left: 50px;
          
      }

  }

  &__link {
      display: flex;
      align-items: center;
      font-weight: 500;
      line-height: 1.14;
      letter-spacing: 0.02em;
      color: var(--title-text-color);
      transition: var(--transition-hover-focus);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
  }


  .contacts__item:not(:last-child) {
      @media screen and (min-width: 767px) {
          margin-bottom: 10px;
      }
  }
}