.header {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
   
  border-bottom: 1px solid #eeeeee;

  @media screen and (max-width: 480px) {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__contact {
    display: flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--title-text-color);

    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    transition: var(--transition-hover-focus);
    
    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }

  &__icon {
    text-align: center;
    align-items: center;
    fill: currentColor;

    margin-right: 10px;
  }
}

.nav {
  display: flex;
  align-items: center;

  &__item:not(:last-child) {
    margin-right: 50px;
  }

  &__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--primary-text-color);

    cursor: pointer;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;

    transition: var(--transition-hover-focus);
    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }
}

.nav__list {
  display: flex;
  align-items: center;
  list-style: none;

  @media screen and (max-width: 767px) {
    display: none;
  }
}

.header-contacts {
  display: flex;
  align-items: center;
  list-style: none;

  @media screen and (max-width: 767px) {
    display: none;
  }
}

.navlink__curred {
  color: var(--accent-color);
}

.navlink__curred::after {
  display: block;
  content: "";
  height: 4px;
  width: 100%;
  background-color: var(--accent-color);
  border-radius: 2px;
  transform: translateY(27px);
}

