.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;

  transition: var(--transition);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  width: 100%;
  max-height: 100%;

  background: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  padding: 40px;

  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);

  .backdrop.is-hidden & {
    transform: translate(100%, -50%) scale(1.8) rotate(100deg);
  }

  @media screen and (min-width: 450px) {
    width: 450px;
    height: 609px;
  }
  @media screen and (min-width: 1200px) {
    width: 528px;
    height: 581px;
  }
}

.modal-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;

  border-radius: 50%;
  background-color: var(--primary-white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);

  &hover,
  &focus {
    color: currentColor;
  }
}

.button-close {
  position: absolute;
  top: 8px;
  right: 8px;

  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: inherit;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  cursor: pointer;
}

.modal-button:hover .social-icon,
.modal-button:focus .social-icon {
  fill: var(--accent-color);
}

.modal-title {
  color: var(--primary-text-color);
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;

  margin-bottom: 12px;
}

.form-field {
  position: relative;
  display: flex;
  flex-direction: column;

  margin-bottom: 10px;
}

.form-field.feedback {
  margin-bottom: 20px;
}

.form-label {
  color: var(--title-text-color);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  margin-bottom: 4px;
}

.form-input {
  height: 40px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  padding-right: 11px;
  padding-left: 42px;

  transition: border-color var(--transition);
}

.icon-input {
  position: absolute;
  bottom: 10px;
  left: 11px;

  fill: var(--primary-text-color);
  transition: fill var(--transition);
}

.form-field:focus-within .icon-input {
  fill: var(--accent-color);
}

.form-field:focus-within .form-input {
  outline: none;
  border-color: var(--accent-color);
}

.form-textarea {
  width: 100%;
  height: 120px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;

  padding: 12px 16px;

  transition: border-color var(--transition);

  &::placeholder {
    color: rgba(117, 117, 117, 0.5);
    font-family: inherit;
    @include font(400, 14px, 1.14, 0.01em);

    @media screen and (min-width: 1200px) {
      @include font(400, 12px, 1.17, 0.01em);
    }
  }

  .form__field:focus-within & {
    outline: none;
    border-color: var(--accent-color);
  }
}

.form-textarea::placeholder {
  font-family: inherit;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-field.feedback:focus-within .form-textarea {
  outline: none;
  border-color: var(--accent-color);
}

.label-link {
  position: relative;
  display: block;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  padding-left: 36px;
  margin-bottom: 30px;

  color: var(--title-text-color);
}

.label-link .link {
  color: var(--accent-color);
  text-decoration: underline;
}

.icon-checkbox {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);

  width: 16px;
  height: 15px;
  border: 2px solid var(--primary-text-color);
  border-radius: 4px;
}

.input-checkbox:checked + .icon-checkbox {
  background-color: var(--accent-color);
  background-image: url(../images/checkbox.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: none;
}

.button-submit {
  display: block;

  color: var(--primary-white-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  background-color: var(--accent-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;

  padding: 10px 55px 10px 56px;
  margin-left: auto;
  margin-right: auto;

  transition: background-color var(--transition), box-shadow var(--transition);

  &:hover,
  &:focus {
    background-color: #188ce8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}
