.card__overlay {
  position: absolute;
  top: 0;
  left: 0;

  color: var(--primary-white-color);
  background-color: rgba(33, 150, 243, 0.9);
  @include font(null, 18px, 1.56, 0.03em);
  height: 100%;

  padding: 63px 24px;

  transform: translatey(100%);
  transition: transform var(--transition);

  .card__link:hover &,
  .card__link:focus & {
    transform: translatey(0);
  }
}